/BetterDiscord
/BetterDiscord Installer
/Code
/GitHub Desktop
/JetBrains
/Microsoft
/Microsoft Teams - Preview
/Pinta
/QtProject.conf
/Thunar
/YouTube Music
/azote
/bleachbit
/celluloid
/dconf
/deluge
/discord
/eog
/falkon
/flutter
/garuda
/gedit
/google-chrome
/htop
/libreoffice
/light
/menus
/micro
/mimeapps.list
/modem-manager-gui
/mpv
/ncmpcpp
/nordvpn
/obs-studio
/pamac
/pavucontrol.ini
/psd
/pulse
/qt5ct
/ranger
/smplayer
/stacer
/starship.toml
/user-dirs.dirs
/user-dirs.locale
/vlc
/xfce4
/xsettingsd