#bar {
    margin: 30px; /* affects top/bottom & left/right alignment */
    font-size: 16px;
    font-family: Product Sans;
}

button, image {
    background: none;
    border-style: none;
    box-shadow: none;
    color: white;
}

button {
    padding-top: 10px;
    margin: 5px
}

button:hover {
    /* background-color: rgba(0, 0, 0, 0.5); */
    border-color: #b7bdf8; 
    color: #b7bdf8;
    
}

button:focus {
    /* background-color: rgba(0, 0, 0, 0.5); */
    border-color: #b7bdf8;
    color: #b7bdf8;
}

grid {
    border-radius: 5px;
    padding: 5px;
    /* box-shadow: 0 0 5px black; */ 
    /* e.g. for common background to all buttons */
}


