#bar {
    margin: 30px; /* affects top/bottom & left/right alignment */
    font-size: 24px;
    font-family: Product Sans;
}

button, image {
    border-radius: 25px;
    box-shadow: none;
    color: white;
}

image {
    margin-bottom: 20px;
}

button {
    /* padding-top: 10px;
    margin: 5px */
    padding: 100px 80px;
    margin: 20px;
    background: #24273a;
}

button:hover {
    background-color: #b7bdf8;
    color: #24273a;
    
}

button:focus {
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: #b7bdf8;
    color: #24273a;
}

grid {
    border-radius: 5px;
    padding: 5px;
    /* box-shadow: 0 0 5px black;  */
    /* e.g. for common background to all buttons */
}

window {
    background-color: rgba (0, 0, 0, 0);
}