* {
    BG:    #1E1D2Fff;
    BGA:   #89DCEBff;
    FG:    #D9E0EEff;
    FGA:   #F28FADff;
    BDR:   #96CDFBff;
    SEL:   #1E1E2Eff;
    UGT:   #F28FADff;
    IMG:   #FAE3B0ff;
    OFF:   #575268ff;
    ON:    #ABE9B3ff;
}
