/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@import "mocha.css";


/* -----------------------------------------------------------------------------
  * Base styles
  * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    color: @lavender;
    border: 0px;
    padding: 0px 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 18px;
    font-weight: bold;
}

tooltip {
    background-color: shade(@base, 0.9);
    border-radius: 10px;
    padding: 8px 12px;
    margin: 8px;
    border: 2px solid shade(@mauve, 1);
}

window#waybar {
    border: 0px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

#workspaces button {
    color: @base;
    border-radius: 50%;
    padding: 4px 6px 2px 0px;
    margin: 0px 8px;
}

#workspaces button:hover {
    color: @blue;
    box-shadow: none;
    text-shadow: none;
    border: 0px;
    background: none;
}

#workspaces button:hover * {
    color: @blue;
}

#workspaces * {
    color: whitesmoke;
}

#workspaces {
    background-color: alpha(@base, 1);
    opacity: 1;
    border: 2px solid @blue;
    border-radius: 14px 5px 15px 8px;
    margin: 8px;
}

#workspaces button.active {
    color: @blue;
    border-radius: 20px;
}

#workspaces button.active * {
    color: @blue;
}

#mode {
    color: #ebcb8b;
}

#clock,
#custom-swap,
#custom-cava-internal,
#battery,
#cpu,
#memory,
#idle_inhibitor,
#temperature,
#custom-keyboard-layout,
#language,
#backlight,
#network,
#pulseaudio,
#mode,
#tray,
#custom-power,
#custom-pacman,
#custom-launcher,
#mpd {
    padding: 6px 9px;
    border: solid;
    background-color: alpha(@base, 1);
    opacity: 1;
    margin: 8px 0px;
}

/* -----------------------------------------------------------------------------
  * Module styles
  * -------------------------------------------------------------------------- */

#mpd {
    color: @blue;
    margin-left: 5px;
    background-color: rgba(0, 0, 0, 0);
}

#mpd.2 {
    border-top: solid 2px @blue;
    border-left: solid 2px @blue;
    border-bottom: solid 2px @blue;
    border-radius: 14px 0px 0px 8px;
    margin: 8px 0px 8px 6px;
    padding: 4px 12px 4px 10px;
}

#mpd.3 {
    border-top: solid 2px @blue;
    border-bottom: solid 2px @blue;
    margin: 8px 0px;
    padding: 4px;
}

#mpd.4 {
    border-right: solid 2px @blue;
    border-top: solid 2px @blue;
    border-bottom: solid 2px @blue;
    border-radius: 0px 5px 15px 0px;
    margin: 8px 0px;
    padding: 4px 10px 4px 14px;
}

#mpd.2,
#mpd.3,
#mpd.4 {
    background-color: alpha(@base, 1);
    font-size: 14px;
}

#custom-cava-internal {
    color: @blue;
    border: 2px solid @blue;
    border-radius: 14px 5px 15px 8px;
}

#custom-swap {
    color: @base;
    margin-left: 5px;
    background-color: @blue;
    border: 2px solid @blue;
    border-radius: 14px 5px 15px 8px;
}

#clock {
    color: @sky;
    border: 2px solid @blue;
    border-radius: 14px 5px 15px 8px;
    margin: 8px 10px;
}

#backlight {
    color: @yellow;
    border-left: 2px solid @blue;
    border-top: 2px solid @blue;
    border-bottom: 2px solid @blue;
    border-radius: 14px 0px 0px 8px;
}

#battery {
    color: @text;
    border-bottom: 2px solid @blue;
    border-top: 2px solid @blue;
    border-right: 2px solid @blue;
    border-radius: 0px 5px 15px 0px;
    margin-right: 10px;
}

#battery.charging {
    color: #81a1c1;
}

@keyframes blink {
    to {
        color: @red;
    }
}

#battery.critical:not(.charging) {
    color: #bf616a;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    color: @sky;
    border-top: 2px solid @blue;
    border-bottom: 2px solid @blue;
}

#cpu #cpu-icon {
    color: @sky;
}

#memory {
    color: @lavender;
    border-top: 2px solid @blue;
    border-bottom: 2px solid @blue;
}

#network.disabled {
    color: #bf616a;
}

#network {
    color: @green;
    border: 2px solid @blue;
    border-radius: 14px 5px 15px 8px;
    margin-right: 5px;
}

#network.disconnected {
    color: #bf616a;
}

#pulseaudio {
    color: @peach;
    border-top: 2px solid @blue;
    border-bottom: 2px solid @blue;
}

#pulseaudio.muted {
    color: #3b4252;
}

#temperature {
    color: @sky;
    border-left: 2px solid @blue;
    border-top: 2px solid @blue;
    border-bottom: 2px solid @blue;
    border-radius: 14px 0px 0px 8px;
}

#temperature.critical {
    color: @red;
}

#idle_inhibitor {
    background-color: #ebcb8b;
    color: @base;
}

#tray {
    margin: 8px 10px;
    border: 2px solid @blue;
    border-radius: 14px 5px 15px 8px;
}

#custom-launcher {
    background-color: @blue;
    color: @base;
    border: 2px solid @blue;
    border-radius: 14px 5px 15px 8px;
    padding: 5px 10px;
    margin-left: 15px;
}

#custom-power {
    color: @base;
    background-color: @red;
    margin-left: 5px;
    margin-right: 15px;
    padding: 5px 10px;
    border: 2px solid @red;
    border-radius: 14px 5px 15px 8px;
}

#window {
    border-style: hidden;
    margin-left: 10px;
    margin-right: 10px;
    color: #eceff4;
}

#mode {
    margin-bottom: 3px;
}

#custom-keyboard-layout {
    color: @peach;
    border-bottom: 2px solid @peach;
    border-top: 2px solid @peach;
    border-right: 2px solid @peach;
    border-radius: 0px 5px 15px 0px;
    margin-right: 10px;
}

#language {
    color: @flamingo;
    border-bottom: 2px solid @blue;
    border-top: 2px solid @blue;
    border-right: 2px solid @blue;
    border-radius: 0px 5px 15px 0px;
    margin-right: 10px;
}